@font-face{ 
    font-family: 'Droid-serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid-serif'), local('Droid serif'),
         url('../fonts/tangak.woff2') format('woff2');
    }